{CSSTemplate {
  $classpath:'samples.templates.domInteractions.focushandling.MainTemplateCSS'
}}

  {macro main()}
    .templateContainer {
      border: 2px solid #4776A7;
      padding: 10px;
      margin: 10px 10px 10px 0px;
      float: left;
      height: 120px;
    }

    ul, li {
      list-style-type: none;
      list-style-image: none;
    }
  {/macro}

{/CSSTemplate}