{CSSTemplate {
  $classpath : "samples.templates.domInteractions.processingIndicator.SampleCSS"
}}

  {macro main ()}
    div.myMenu, div.myMenu span.myMenuItem {
      width: 310px;
      display: inline-block;
      float: left;
    }

    div.myMenu {
      margin-right: 10px;
    }

    div.myMenu span.myMenuItem button {
      padding: 5px;
      float: left;
      margin-right: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      font-family: Tahoma;
      font-weight: bold;
      border: none;
    }

    .half {
      width: 150px;
    }

    .whole {
      width: 305px;
    }

    div.myContent {
      width: 400px;
      display: inline-block;
    }

    div.myContent span {
      width: 400px;
      height: 90px;
      margin-bottom: 10px;
      display: inline-block;
    }

    .colorOne {
      background-color : #9BA8CF;
    }

    .colorTwo {
      background-color : #9BCFCF;
    }

    .colorThree {
      background-color : #CBCF9B;
    }

    .colorFour {
      background-color : #CFB29B;
    }

    .colorFive {
      background-color : #CF9B9B;
    }


  {/macro}

{/CSSTemplate}
