{CSSTemplate {
  $classpath : "samples.widgets.autocomplete.onchange.OnChangeStyle"
}}

{var keyframe = "0%, 50%, 100% {opacity: 1;} 25%, 75% {opacity: 0;}" /}

{var prefixes = ["-webkit-", "-moz-", "-ms-", ""] /}
{var duration = "animation-duration: 1s;" /}
{var delay = "animation-delay: .2s;" /}
{var timing = "animation-timing-function: ease;" /}
{var fill = "animation-fill-mode: both;"/}


{macro main()}

.changeAlert {
  text-align : center;
  background : #FFF7BD;
  padding : 12px;
  width : 240px;
  color : #F04155;
  font-weight: bold;
  text-shadow : 0 1px 0 rgba(0, 0, 0, .2);

  margin : 0 auto;
  margin-bottom : 12px;

  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,.1) 60%, rgba(255,255,255,0) 60%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,.1) 60%, rgba(255,255,255,0) 60%);
  background-image: linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,.1) 60%, rgba(255,255,255,0) 60%);

  border-radius: 3px;
  border: 1px solid #FF823A;

  box-shadow: inset 0 0 0 1px rgba(255,255,255,.3);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  {foreach prefix inArray prefixes}
  ${prefix}${duration}
  ${prefix}${delay}
  ${prefix}${timing}
  ${prefix}${fill}
  {/foreach}
}

.hidden {
  display: none;
}

.flash {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -ms-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes flash {
	${keyframe}
}

@-moz-keyframes flash {
	${keyframe}
}

@-ms-keyframes flash {
	${keyframe}
}

@-o-keyframes flash {
	${keyframe}
}

@keyframes flash {
	${keyframe}
}

{/macro}

{/CSSTemplate}