{CSSTemplate {
    $classpath : "ariadoc.snippets.templates.cssTemplates.AnotherCSSTemplate",
    $hasScript: true
}}

    ////#statements
    {macro main()}

        {set prioBkgColors=["red","orange","#595959","#595959","#595959","#595959"]/}

        {for var i=1; i<6; i++}
            div.sev${i} {
                background-color: ${prioBkgColors[i-1]};
            }
        {/for}

        div.transparent {
            {call opacity(0.5)/}
        }

    {/macro}

    {macro opacity(value)}
        {if aria.core.Browser.isIE}
            filter: alpha(opacity=${100*value});
        {else/}
            opacity: ${value};
        {/if}
    {/macro}
    ////#statements

    {macro specialvars()}
    ////#specialvars
    .loader {
        background-image: url(${cssFolderPath}/loader.gif);
    }
    ////#specialvars
    ////#script
    .randcol {
        ${randomColor()}
    }
    ////#script
{/macro}

{/CSSTemplate}