{CSSTemplate {
    $classpath : "ariadoc.snippets.templates.cssTemplates.MyCSSTemplate"
}}

    {macro main ()}

        pre {
            background-color: #f9f9f9;
            border: 1px dashed #ccc;
            padding: 5px;
        }

        .example {
            color: #aaa;
            font-weight: bold;
        }

    {/macro}

{/CSSTemplate}